<!DOCTYPE html>
<html>
<head>
  <title>Cards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'shared/header' %>
	<div class="dismiss"><% if notice %><p  id="notice"><%= notice %> | <div class="dissbutt"><%= link_to "x" %></p><% end %></div></div>
	<div class="dismiss"><% if alert %><p id="alert"><%= alert %> | <div class="dissbutt"><%= link_to "x" %></p><% end %></div></div>
<%= yield %>
</body>
</html>
